/* Header Style */
.header{
  background-color: #a9a9a9;
  padding: 14px;
}

/*Footer Style */
.footer{
  background-color: #a9a9a9;
  padding: 40px;
  text-align: center;
  color: red;
}
/*navbar animation */
ul.navbar-nav a:hover { 
	transition: 1s;
	color: red !important; 
}

.container{
  color:black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
h1 {
	text-align: center;
	margin: auto;
}

h2 {
	text-align: center;
	margin: auto;
	outline-width: -10px;
}

.column {
  float: left;
  width: 14.66%;
  padding: 20px;
  margin: auto;
  text-align: center;


}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  text-align: center;


}

.fl {
	text-align: center;
	margin: auto;
	font-weight: bold;
	font-size: 18px;
	height: 50px;
}

.desc {
	float: bottom;
	margin: auto;
	text-align: center;
	font-size: 15px;
	width: auto;
}
