/* Header Style */
.header{
  background-color: #a9a9a9;
  padding: 14px;
}

/*Footer Style */
.footer{
  background-color: #a9a9a9;
  padding: 40px;
  text-align: center;
  color: red;
}
.container{
  color:black;
  text-align: center;
}
