/* Header Style */
.header{
  background-color: #404040;
  padding: 20px;
}
.welcome {
  font: italic "Comic Sans";
}
h1{
  font-family: "Comic Sans MS, Comic Sans, cursive";
}
/*Footer Style */
/*.footer{
  background-color: #424d57;
  padding: 20px;
}*/
